@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://mmwebfonts.comquas.com/fonts/?font=pyidaungsu");

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
}
body {
  font-family: "Poppins", "Pyidaungsu", sans-serif;
}

.text-center {
  text-align: center;
}

.p2 {
  padding: 20px 0;
}

.app_banner {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  position: relative;
  background-image: url("https://shaung-dicktator.web.app/images/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.linkHref_as_text {
  text-decoration: none;
  color: #333;
  text-transform: capitalize !important;
  margin-right: 12px;
}